#footer{
	margin-top: 30px;
	padding: 10px;
	color: #fff;
	background: #0c84e4;
}
#footer p{
	margin-bottom: 0px;
}
.span3 {  
    height: 400px !important;
    overflow-y: scroll;
    font-size: 90%;
    
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.span4 {  
    height: 300px !important;
    overflow-y: scroll;
    font-size: 90%;
}

.specialTable, th, td {
    text-align:center; 
    vertical-align:middle;
    width:calc(100% - 18px);
    /*border: 1px solid black;*/
}

.specialtd {
    text-align: left; 
}

.specialtbody {
    display: block; 
    height: 100px; 
    overflow-y: scroll
}